* {
    font-family: 'Roboto Condensed', Arial, sans-serif;
    box-sizing: border-box;
}

.container {
    width: 1200px; /* Устанавливает ширину блочных или заменяемых элементов (к ним, например, относится тег <img>). Ширина не включает толщину границ вокруг элемента, значение отступов и полей.Браузеры неодинаково работают с шириной, результат отображения зависит от используемого <!DOCTYPE>. В табл. 1 приведены возможные варианты <!DOCTYPE> и получаемая ширина.*/
    margin: 0 auto; /* Устанавливает величину отступа от каждого края элемента. Отступом является пространство от границы текущего элемента до внутренней границы его родительского элемента */
}

.page-wrapper {
    margin-top: 280px; /* Устанавливает величину отступа от верхнего края элемента. Отступом является расстояние от внешнего края верхней границы текущего элемента до внутренней границы его родительского элемента */
}

img {
    max-width: 100%; /*Устанавливает максимальную ширину элемента*/
}

html {
    background-image: url(./../images/witcher-crop.jpg); /*Устанавливает фоновое изображение для элемента*/
    background-repeat: no-repeat; /*Определяет, как будет повторяться фоновое изображение, установленное с помощью свойства background-image*/

}


html, body {
    padding: 0; /*Устанавливает значение полей вокруг содержимого элемента*/
    margin: 0; /* Устанавливает величину отступа от каждого края элемента. Отступом является пространство от границы текущего элемента до внутренней границы его родительского элемента */
}

a {
    display: inline-block; /*Многоцелевое свойство, которое определяет, как элемент должен быть показан в документе.*/
}

/* Primary-menu*/

html {
    background-color: #2C1F03; /*Определяет цвет фона элемента*/
}

body {
    background-image: url("./../images/foter.jpg"); /*Устанавливает фоновое изображение для элемента*/
    background-repeat: no-repeat; /*Определяет, как будет повторяться фоновое изображение, установленное с помощью свойства background-image*/
    background-position: bottom; /*Задает начальное положение фонового изображения, установленного с помощью свойства background-image*/
    background-size: 100%; /*Масштабирует фоновое изображение согласно заданным размерам.*/
}

.primary-menu {
    background: #6C6767; /*Универсальное свойство background позволяет установить одновременно до пяти характеристик фона*/
    height: 75px; /*Устанавливает высоту блочных или заменяемых элементов*/
    width: 50%; /* Устанавливает ширину блочных или заменяемых элементов (к ним, например, относится тег <img>). Ширина не включает толщину границ вокруг элемента, значение отступов и полей.Браузеры неодинаково работают с шириной, результат отображения зависит от используемого <!DOCTYPE>. В табл. 1 приведены возможные варианты <!DOCTYPE> и получаемая ширина.*/
    margin: 0 auto; /* Устанавливает величину отступа от каждого края элемента. Отступом является пространство от границы текущего элемента до внутренней границы его родительского элемента */
    position: relative; /*Устанавливает способ позиционирования элемента относительно окна браузера или других объектов на веб-странице.*/
}

.primary-menu::before {
    content: "";
    position: absolute; /*Устанавливает способ позиционирования элемента относительно окна браузера или других объектов на веб-странице.*/
    top: -1px;
    left: -76px;
    border: 38px solid transparent;
    border-right-color: #6C6767;
    border-bottom-color: #6C6767;
}

.primary-menu::after {
    content: "";
    position: absolute; /*Устанавливает способ позиционирования элемента относительно окна браузера или других объектов на веб-странице.*/
    top: -1px;
    right: -76px;
    border: 38px solid transparent;
    border-left-color: #6C6767;
    border-bottom-color: #6C6767;
}

.primary-menu > ul {
    padding: 0; /*Устанавливает значение полей вокруг содержимого элемента*/
    margin: 0; /* Устанавливает величину отступа от каждого края элемента. Отступом является пространство от границы текущего элемента до внутренней границы его родительского элемента */
    font-size: 0;
    overflow: hidden;
    text-align: center;
}

.primary-menu > ul > li {
    display: inline-block; /*Многоцелевое свойство, которое определяет, как элемент должен быть показан в документе.*/
    list-style: none;
    font-size: 16px;
}

.primary-menu > ul > li:last-child {
    margin-right: 0;
}

.primary-menu > ul > li a {
    color: #ffffff;
    text-decoration: none;
    height: 75px;  /*Устанавливает высоту блочных или заменяемых элементов*/
    line-height: 75px;
    padding: 0 15px; /*Устанавливает значение полей вокруг содержимого элемента*/
    position: relative; /*Устанавливает способ позиционирования элемента относительно окна браузера или других объектов на веб-странице.*/
    z-index: 999;
}

.primary-menu > ul > li a:hover {
    color: #333333;
}

.primary-menu > ul > li a:hover::before {
    content: " ";
    position: absolute; /*Устанавливает способ позиционирования элемента относительно окна браузера или других объектов на веб-странице.*/
    left: -5px;
    top: -25px;
    width: 100%; /* Устанавливает ширину блочных или заменяемых элементов (к ним, например, относится тег <img>). Ширина не включает толщину границ вокруг элемента, значение отступов и полей.Браузеры неодинаково работают с шириной, результат отображения зависит от используемого <!DOCTYPE>. В табл. 1 приведены возможные варианты <!DOCTYPE> и получаемая ширина.*/
    height: 150%;  /*Устанавливает высоту блочных или заменяемых элементов*/
    transform: rotate(13deg);
    background-color: #ffffff; /*Определяет цвет фона элемента*/
    z-index: -1;
}

.primary-menu > ul > li a:hover::before {
    opacity: 1;
}

/* Secondary-menu*/

.secondary-menu {
    background: #2B3F4A; /*Универсальное свойство background позволяет установить одновременно до пяти характеристик фона*/
    height: 95px;  /*Устанавливает высоту блочных или заменяемых элементов*/
    width: 100%; /* Устанавливает ширину блочных или заменяемых элементов (к ним, например, относится тег <img>). Ширина не включает толщину границ вокруг элемента, значение отступов и полей.Браузеры неодинаково работают с шириной, результат отображения зависит от используемого <!DOCTYPE>. В табл. 1 приведены возможные варианты <!DOCTYPE> и получаемая ширина.*/
    margin: 0 auto; /* Устанавливает величину отступа от каждого края элемента. Отступом является пространство от границы текущего элемента до внутренней границы его родительского элемента */
    line-height: 75px;
    padding: 0 50px; /*Устанавливает значение полей вокруг содержимого элемента*/
    text-align: center;
}

.secondary-menu > ul {
    padding: 0; /*Устанавливает значение полей вокруг содержимого элемента*/
    margin: 0; /* Устанавливает величину отступа от каждого края элемента. Отступом является пространство от границы текущего элемента до внутренней границы его родительского элемента */
    display: inline-block; /*Многоцелевое свойство, которое определяет, как элемент должен быть показан в документе.*/
    line-height: 100px;
}

.secondary-menu > ul > li {
    display: inline-block; /*Многоцелевое свойство, которое определяет, как элемент должен быть показан в документе.*/
    list-style: none;
    margin-right: 20px;

}

.secondary-menu > ul > li a {
    color: #ffffff;
    text-decoration: none;
    height: 75px;  /*Устанавливает высоту блочных или заменяемых элементов*/
    line-height: 75px;
    padding: 0; /*Устанавливает значение полей вокруг содержимого элемента*/
}

.secondary-menu > ul > li > a:hover {
    color: #6C6767;

}

.secondary-menu > ul > .logo {
    width: 175px; /* Устанавливает ширину блочных или заменяемых элементов (к ним, например, относится тег <img>). Ширина не включает толщину границ вокруг элемента, значение отступов и полей.Браузеры неодинаково работают с шириной, результат отображения зависит от используемого <!DOCTYPE>. В табл. 1 приведены возможные варианты <!DOCTYPE> и получаемая ширина.*/
    position: relative; /*Устанавливает способ позиционирования элемента относительно окна браузера или других объектов на веб-странице.*/
}

.secondary-menu > ul > .logo > img {
    position: absolute; /*Устанавливает способ позиционирования элемента относительно окна браузера или других объектов на веб-странице.*/
    left: 0;
    top: -40px;
}

/* Content*/

.content-wrapper {
    background-color: #ffffff; /*Определяет цвет фона элемента*/
}

.content, .sidebar {
    float: left;
    padding: 40px; /*Устанавливает значение полей вокруг содержимого элемента*/
}

.content {
    width: 75%; /* Устанавливает ширину блочных или заменяемых элементов (к ним, например, относится тег <img>). Ширина не включает толщину границ вокруг элемента, значение отступов и полей.Браузеры неодинаково работают с шириной, результат отображения зависит от используемого <!DOCTYPE>. В табл. 1 приведены возможные варианты <!DOCTYPE> и получаемая ширина.*/
}

.sidebar {
    width: 25%; /* Устанавливает ширину блочных или заменяемых элементов (к ним, например, относится тег <img>). Ширина не включает толщину границ вокруг элемента, значение отступов и полей.Браузеры неодинаково работают с шириной, результат отображения зависит от используемого <!DOCTYPE>. В табл. 1 приведены возможные варианты <!DOCTYPE> и получаемая ширина.*/
    float: left;
}

.clear {
    clear: both;
}

footer {
    background-color: #2B3F4A; /*Определяет цвет фона элемента*/
    padding: 40px; /*Устанавливает значение полей вокруг содержимого элемента*/
    color: #ffffff;
}

.footer {
    padding-bottom: 300px;
}
